h2 {
  font-size: 16px

}

em {
  font-weight: bold;
  color: orange;
}

body {
  color: #5a5a5a;
}

.important {
  color: black;
  background-color: #e6e6e6;
  font-weight: 500;
}
.img-float{
  float: right;
}

.jumbotron {
  background-color: #898989!important;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: white;
}
